:root {
    --primary-color: #ee4d2d;
    --white-color : #fff;
    --back-color : #000;
    --text-color : #333;
    --border-color: #dbdbdb;

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid {
    width : 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%
}

.grid__row {
    display : flex;
    flex-wrap: warp;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
}
.iteamhover:hover{
    opacity: 0.7;
    cursor: pointer;
}
/* animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    list-style: none;
}
.pagination-item {
    margin: 0 12px;
    
}
.pagination-item__link {
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    color : #939393;
    width: 40px;
    height: 30px;
    border-radius: 2px;
    
}

.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: white;
}
.pagination-item--active .pagination-item__link:hover {
    background-color: #ed5c3f;
}
